body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0; /* Suppression du padding pour ajuster la bannière */
}

.banner-image {
    width: 100%; /* La bannière occupe toute la largeur de l'écran */
    max-height: 200px; /* Limite la hauteur de la bannière */
    object-fit: cover; /* Maintient le ratio de l'image tout en couvrant toute la zone */
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #333; /* Couleur de fond du nav pour correspondre à la bannière */
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.weapon-image {
    width: 200px; /* Ajustez la taille selon vos besoins */
    display: block;
    margin: 10px 0;
}
